<%- include('partials/header') %>

<div class="container">
  <a href="/logout" class="logout-btn">Logout</a>
  <h2>📝 My Todos</h2>

  <form action="/todo/add" method="POST" class="add-form">
    <input type="text" name="text" placeholder="Enter todo..." required>
    <button>Add</button>
  </form>

  <ul>
    <% todos.forEach(todo => { %>
      <li>
        <%= todo.text %>
        <form action="/todo/delete/<%= todo._id %>" method="POST" class="delete-form">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% }) %>
  </ul>
</div>

<%- include('partials/footer') %>
